<h2>Productos en tiempo real</h2>
<div id="products">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>


        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td>{{this.name}}</td>
                </tr>
        </tbody>
    </table>
</div>
